<h1>Users#index</h1>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<%= javascript_include_tag "superagent.js", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "index", :media => "all" %>
<%= react_component('UserList') %>